<li id="t1" (click)="onClick('1')">
  <img src="/assets/img/icon_online_sales.png">
  <h1>+26%</h1>
  <h2>Sales Average</h2>
  <h3>Competition</h3>
</li>
<li id="t2" (click)="onClick('2')">
  <img src="/assets/img/icon_visits.png">
  <h1>+12%</h1>
  <h2>Price Average</h2>
  <h3>Forecast</h3>
</li>
<li id="t3" (click)="onClick('3')">
  <img src="/assets/img/icon_conversion_avg.png">
  <h1>+2.6%</h1>
  <h2>Current Avg.</h2>
  <h3>Revenue</h3>
</li>
<li id="t4" (click)="onClick('4')">
  <img src="/assets/img/icon_trip_advisor.png">
  <h1>+2.7ew</h1>
  <h2>Event Weight</h2>
  <h3>Calculator</h3>
</li>