<div id="path">
  Homepages > Black Sands Hotel
</div>

<div class="shadowBox">
  <nav>
    <h1>Hotels</h1>
    <li (click)="setHotel(1)">Black Sands</li>
    <li (click)="setHotel(2)">The One</li>
    <li (click)="setHotel(3)">The ArtStay Jeju Hamdeok</li>
    <li (click)="setHotel(4)">Ocean Sweets</li>
    <li (click)="setHotel(5)">Ramada Encore</li>
    <li (click)="setHotel(6)">Hotel Nanta</li>
    <li class="addHotel" (click)="setHotel(6)">Add Hotel</li>
  </nav>
  <section>
    <div class="row">
      <h1>
        Black Sands Hotel
      </h1>
      <article class="f1 subInfo">
        <div class="flexList">
          <img src="/assets/img/ht_sands1.jpg">
          <img src="/assets/img/ht_sands2.jpg">
          <img src="/assets/img/ht_sands3.jpg">
          <img src="/assets/img/ht_sands4.jpg">
        </div>
        <div>
          <h2>Tel.</h2>
          <p>+82 64-740-0888</p>
        </div>
        <div>
          <h2>Add.</h2>
          <p>Jeju-si Seonsa-ro 8 (Samyangidong)</p>
        </div>
        <div>
          <h2>Info.</h2>
          <p>Winners Corporation. Chief Excutives: Kim Chi Yong</p>
        </div>
      </article>
    </div>
    <div class="row">
      <article>
        <h2>Select Room For</h2>
        <div class="typeList">
          <ul>
            <li [ngClass]="{'selected': current.type == 'STANDARD'}" (click)="setType('STANDARD')">
              <img src="/assets/img/h_sands1.jpg"> STANDARD
            </li>
            <li [ngClass]="{'selected': current.type == 'DELUXE'}" (click)="setType('DELUXE')">
              <img src="/assets/img/h_sands2.jpg"> DELUXE
            </li>
            <li [ngClass]="{'selected': current.type == 'JUNIOR SWEET'}" (click)="setType('JUNIOR SWEET')">
              <img src="/assets/img/h_sands3.jpg"> JUNIOR SWEET
            </li>
            <li [ngClass]="{'selected': current.type == 'ROYAL SWEET'}" (click)="setType('ROYAL SWEET')">
              <img src="/assets/img/h_sands4.jpg"> ROYAL SWEET
            </li>
          </ul>
        </div>
      </article>
    </div>
    <div class="row">
      <article class="f2">
        <h2>Calendar</h2>
        <app-calendar></app-calendar>
      </article>
      <article class="f1">
        <h2>Setting Price</h2>
        <div class="lineBox">
          <span>
            <h4>Type</h4>
            <input type="text" [value]="current.type" readonly>
          </span>
          <span>
            <h4>Date</h4>
            <input type="date" [value]="current.dateStr">
          </span>
          <span>
            <h4>인원</h4>
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </span>
        </div>
        <div class="lineBox">
          <h3>HotelsCombined</h3>
          <span class="price">
            <h4>Current</h4>
            <p>￦</p>
            <input type="text" [value]="current.value" readonly>
          </span>
          <span class="price">
            <h4>To</h4>
            <p>￦</p>
            <input type="text" [value]="current.value">
          </span>
          <h3>Hotels.com</h3>
          <span class="price">
            <h4>Current</h4>
            <p>￦</p>
            <input type="text" [value]="current.value2" readonly>
          </span>
          <span class="price">
            <h4>To</h4>
            <p>￦</p>
            <input type="text" [value]="current.value2">
          </span>
          <h3>Expedia</h3>
          <span class="price">
            <h4>Current</h4>
            <p>￦</p>
            <input type="text" [value]="current.value3" readonly>
          </span>
          <span class="price">
            <h4>To</h4>
            <p>￦</p>
            <input type="text" [value]="current.value3">
          </span>
        </div>
        <button class="btnBlue">Done</button>
      </article>
    </div>
    <div class="row">
      <article class="f1">
        <h2>Image Upload</h2>
        <span id="imgDrawer">
          <span id="imgNav">
            <img src="/assets/img/h_sands1.jpg">
            <img src="/assets/img/h_sands2.jpg">
            <img src="/assets/img/h_sands3.jpg">
            <img src="/assets/img/h_sands4.jpg">
          </span>
          <img src="/assets/img/h_sands1.jpg">
        </span>
        <div class="lineBox">
          <span class="price">
            <h4>Main</h4>
            <input type="file">
          </span>
          <span>
            <h4>Sub1</h4>
            <input type="file">
          </span>
          <span>
            <h4>Sub2</h4>
            <input type="file">
          </span>
          <span>
            <h4>Sub3</h4>
            <input type="file">
          </span>
          <span>
            <h4>Sub4</h4>
            <input type="file">
          </span>
        </div>
      </article>
      <article class="f1">
        <h2>Address</h2>
        <app-homp1></app-homp1>
        <div class="lineBox">
          <span class="price">
            <h4>Hotel</h4>
            <input type="file">
          </span>
          <span>
            <h4>Office</h4>
            <input type="file">
          </span>
        </div>
      </article>
    </div>
  </section>
</div>
