<div id="path">
  Dashboard > Summary
</div>

<section>
  <h1>Status</h1>
  <div class="row">
    <app-group [gid]="'colored c1'" [title]="'Rooms'">
      <div class="subbar">
        <div>
          <strong>7</strong>
          <p>Available</p>
        </div>
        <div>
          <strong>12</strong>
          <p>Avg. Week.</p>
        </div>
      </div>
      <app-dash1></app-dash1>
      <!-- <app-fusion-chart [gid]="'dash_1'"></app-fusion-chart> -->
    </app-group>
    <app-group [gid]="'colored c2'" [title]="'Sales'">
      <div class="subbar">
        <div>
          <strong>192</strong>
          <p>Quantity</p>
        </div>
        <div>
          <strong>57</strong>
          <p>Block Sales</p>
        </div>
      </div>
      <app-dash2></app-dash2>
      <!-- <app-fusion-chart [gid]="'dash_2'"></app-fusion-chart> -->
    </app-group>
    <app-group [gid]="'colored c3'" [title]="'Data Collection'">
      <div class="subbar">
        <div>
          <strong>72K</strong>
          <p>Quantity</p>
        </div>
        <div>
          <strong>281K</strong>
          <p>Price Qty</p>
        </div>
      </div>
      <app-dash3></app-dash3>
      <!-- <app-fusion-chart [gid]="'dash_3'"></app-fusion-chart> -->
    </app-group>
    <app-group [gid]="'colored c4'" [title]="'Competitiveness'">
      <div class="subbar">
        <div>
          <strong>50K
          </strong>
          <p>Avg. High</p>
        </div>
        <div>
          <strong>42K</strong>
          <p>Avg. Low</p>
        </div>
      </div>
      <app-dash4></app-dash4>
      <!-- <app-fusion-chart [gid]="'dash_4'"></app-fusion-chart> -->
    </app-group>
    <app-group [gid]="'colored c5'" [title]="'Billing'">
      <div class="subbar">
        <div>
          <strong>0</strong>
          <p>Own Cost</p>
        </div>
        <div>
          <strong>444.67</strong>
          <p>Avg. Cos t
          </p>
        </div>
      </div>
      <app-dash5></app-dash5>
      <!-- <app-fusion-chart [gid]="'dash_5'"></app-fusion-chart> -->
    </app-group>
  </div>
  <div class="row">
    <app-group [title]="'Sales Revenue Per Day'" class="f3">
      <app-dash6></app-dash6>
      <!-- <app-fusion-chart [gid]="'dash_6'"></app-fusion-chart> -->
    </app-group>
    <app-group [title]="'Revenue Prediction'" class="f2">
      <!-- <app-fusion-chart [gid]="'pred_2'" [priceList]="priceList['BS']['Standard']"></app-fusion-chart> -->
      <app-pred2 [roomType]="chartData['pred_2']"></app-pred2>
    </app-group>
  </div>

</section>
